<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language</title>
</head>
<body>
    <form action="/queryDemo" method="post">
        <label for="language">Enter ur Language</label>
        <input type="text" id="language" name="language">
        <br>
        <label for="framework">Enter ur framework</label>
        <input type="text" id="framework" name="framework">
        <br>
        <input type="submit" value="Go">
    </form>
</body>
</html>